@import 'variables';

.button {
  background: none;
  border-style: none;
  cursor: pointer;
  font-size: 1em;
  padding: 15px;
}

.button-login {
  @include transition(all, .3s, ease-out);
  background: $blue-dark;
  border-radius: 5px;
  color: $white;
  font-weight: 500;
  height: 45px;
  letter-spacing: 1px;
  margin-top: 10px;
  max-width: 300px;
  min-width: 250px;
  width: 40%;

  &:hover {
    background: $blue-darker;
  }
}
