@import 'variables';

.button {
  background: none;
  border-style: none;
  cursor: pointer;
  font-size: 1em;
  padding: 15px;

  .button-text {
    display: inline-block;
    font-size: 1em;
    margin: 0;
    padding: 0;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.button-login {
  @include transition(all, .3s, ease-out);
  background: $blue-dark;
  border-radius: 5px;
  height: 45px;
  margin: 10px 0;
  letter-spacing: 1px;
  max-width: 300px;
  min-width: 250px;
  width: 40%;

  .button-text {
    color: $white;
    font-weight: 500;
    letter-spacing: 1px;
  }

  &:hover {
    background: $blue-darker;
  }
}

.button-blue {
  @include transition(all, .3s, ease-out);
  background: $blue;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;

  .button-text {
    color: $white;
  }

  &:hover {
    background: $blue-dark;
  }
}

.button-blue-dark-dashed {
  @include transition(all, .3s, ease-out);
  background: $white;
  border: 2px dashed $blue-dark;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;

  .button-text {
    color: $blue-dark;
  }

  &:hover {
    background: lighten($blue-dark, 40%);
    border-color: lighten($blue-dark, 20%);
  }
}

.button-pink {
  @include transition(all, .3s, ease-out);
  background: $pink;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;

  .button-text {
    color: $white;
  }

  &:hover {
    background: darken($pink, 10%);
  }
}

.button-grey {
  @include transition(all, .3s, ease-out);
  background: lighten($grey, 20%);

  .button-text {
    color: $white;
  }

  &:hover {
    background: $grey;
  }
}

.button-left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.button-middle {
  margin: 0 5px;
}

.button-right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.button-svg {
  display: inline-block;
  padding: 0;

  svg {
    height: 14px;
    vertical-align: middle;
  }
}

.button-svg-front {
  margin-right: 10px;
}

.button-svg-back {
  margin-left: 10px;
}
