@import 'variables';

.home {
  min-height: 100%;
  position: relative;

  h1 {
    display: inline-block;
    margin: 0;
  }

  &-daily-stats {
    &-heading {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 60%;
    }

    .home-date {
      display: inline-block;
      float: right;
    }

    .home-day {
      font-size: 2em;
      font-weight: 200;
    }

    .home-month {
      font-size: 2em;
      font-weight: 600;
    }

    hr {
      border-style: none;
      border-top: 3px solid $blue-lighter;
      margin: 10px 0 0;
    }

    .home-progress-bar {
      margin-top: 30px;
    }

    .home-daily-amount {
      display: inline-block;
      font-size: 1.2em;
      font-weight: 500;
      margin: 15px 10px 5px;
    }

    .home-amount-spent {
      color: $pink;
    }

    .home-amount-left {
      color: $green;
      float: right;
    }

    .home-daily-info {
      display: inline-block;
      font-size: .9em;
      font-weight: 500;
      letter-spacing: .5px;
      margin: 0 10px 20px;
    }

    .home-daily-info-right {
      float: right;
    }
  }
}

.home-buttons-bar {
  margin-bottom: 15px;
  width: 100%;

  .button-grey {
    width: 20%;
  }

  .button-record {
    float: right;
  }
}

.expenses-heading {
  display: inline-block;
  margin: 20px 0;
  padding: 0 20px;
  vertical-align: middle;
}

.expenses-list {
  @include calc(width, '100% - 187px');
  border-left: 3px solid $blue-lighter;
  display: inline-block;
  padding: 15px 20px;
  vertical-align: middle;
}

.expense-item {
  display: inline-block;
  margin: 10px 0;
}

.expense-rank {
  color: $blue-dark;
  font-weight: 500;
  width: 20%;
}

.expense-name {
  letter-spacing: 1px;
  text-align: center;
  width: 50%;
}

.expense-cost {
  color: $blue;
  font-weight: 500;
  text-align: right;
  width: 30%;
}

@media (max-width: 686px) {
  .home-buttons-bar {
    margin: 0;

    .button-grey {
      @include calc(width, '(100% - 10px) / 3');
      margin-bottom: 10px;

      .button-text {
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        white-space: nowrap;
        width: 100%;
      }
    }

    .button-record {
      float: none;
      margin-bottom: 15px;
      width: 100%;
    }
  }

  .home-daily-stats {
    &-heading {
      font-size: 1.6em;
    }

    .home-date {
      .home-day,
      .home-month {
        font-size: 1.6em;
      }
    }

    hr {
      margin-top: 0;
    }

    .home-progress-bar {
      margin-top: 15px;
    }

    .home-daily-amount,
    .home-daily-info {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .expenses-heading {
    border-bottom: 3px solid $blue-lighter;
    display: block;
    padding: 0 0 5px;
  }

  .expenses-list {
    border: 0;
    display: block;
    padding: 0;
    width: 100%;
  }
}
