@import 'variables';

.progress-bar-container {
  @include transition(all, .3s, ease-out);
  border: 5px solid $blue-light;
  border-radius: 50px;
  height: 30px;
  width: 100%;

  &:hover {
    transform: scale(1.02);
  }
}

.progress-bar-progress {
  @include transition(all, .3s, ease-out);
  background: $blue-light;
  height: 20px;
}
