@import 'variables';

.signup-container {
  padding: 50px 20px;
  text-align: center;

  h1 {
    color: $black;
    font-weight: 500;
    margin: 0;
  }
}

.signup-form {
  margin: 30px auto 40px;
  max-width: 500px;
  text-align: left;

  h3 {
    font-size: 1.3em;
    font-weight: 400;
  }

  p {
    color: $grey;
    font-size: .9em;
    font-weight: 200;
  }

  .signup-textbox {
    margin-bottom: 10px;
    width: 100%;
  }

  .signup-submit-btn {
    margin-top: 10px;
    width: 100%;
  }

  span {
    color: $grey;
    display: block;
    font-size: .8em;
    padding-top: 10px;
  }

  .error-msg {
    color: $pink;
    font-size: .9em;
    margin-top: 15px;
    text-align: center;
  }
}

@media (max-width: 414px) {
  .signup-container {
    padding: 30px 20px;
  }
}
