@import 'variables';

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  background: $grey-light;
}

html {
  font-size: 14px;
  line-height: 1.2;

  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.3;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
input,
button {
  color: $black;
  font-family: $default;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  @include transform-translate(-50%, -50%);
  left: 50%;
  position: relative;
  top: 50%;
}

.center-vertical {
  @include transform-translate(0, -50%);
  position: absolute;
  top: 50%;
}

.container {
  background: $white;
  border: 1px solid $blue;
  border-radius: 5px;
  padding: 15px;
}
