@import 'variables';

.the-botmother {
  bottom: 0;
  position: absolute;
  right: 0;
  text-align: right;
  width: 100%;
}

.the-botmother-svg {
  cursor: pointer;
  display: inline-block;

  svg {
    @include transition(all, .3s, ease-out);
    vertical-align: middle;
    width: 80px;
  }

  &:hover {
    svg {
      transform: rotate(-15deg);
    }
  }
}

@media (max-width: 414px) {
  .the-botmother-svg {
    svg {
      width: 50px;
    }
  }
}

.chat-bubble {
  @include calc(width, '100% - 80px');
  display: inline-block;
  vertical-align: bottom;

  &-text {
    @include calc(max-width, '100% - 22px');
    background: $white;
    border: 3px solid $grey;
    border-radius: 25px;
    display: inline-block;
    min-height: 70px;
    padding: 15px;
    text-align: left;
    vertical-align: bottom;
  }

  &-arrow {
    border-bottom: 8px solid transparent;
    border-left: 12px solid $grey;
    border-top: 8px solid transparent;
    display: inline-block;
    height: 0;
    margin: 0 10px 25px 0;
    vertical-align: bottom;
    width: 0;
  }
}
